<!doctype html>
	<html>
		<head>
		<title>Template</title>
		<link href="css/template.css" rel="stylesheet" type="text/css">
		</head>
	<body>
		<!-- container div starts here-->
<div id="container">
<!-- header starts here-->
<div id="header">
<div id="left_header">
	test message<br>
	sdfdsfsdfsdffasfsrfsd 
</div>
<div id="right_header">
	sdhfvggsdhf<br>
	dsfsdfbsdhfbgsjhdfbshd
</div>
</div>
<!-- header end here-->
<!-- navigation menu starts here-->
<div id="nav_menu">

      				 <ul>
					<li><a href="index.php"><span>Home</span></a></li>
					<li><a href="plan.php"><span>Business Plan</span></a></li>
					<li><a href="terms.php"><span>Policy</span></a></li>
					<li><a href="login.php"><span>Login</span></a></li>
					<li><a href="aboutus.php"><span>About us</span></a></li>
					<li><a href="contact.php"><span>Contact-us</span></a></li>
				 </ul>
</div>
<!-- navigation menu end here-->
<!-- content start here-->
	<div id="content">
asdsadadsadasdsad
	</div>
<!-- content end here-->
<!-- footer start here-->
<div id="footer">
	Copyright asdasdad
</div>
		</div>
		<!-- container div starts here-->
			
	</body>
	</html>